.footer-buttons #next-button {
    float: right;
}

ol.progtrckr li.progtrckr-doing:last-child { 
    color: black; 
    border-bottom: 4px solid #5cb85c; 
}

ol.progtrckr li.progtrckr-doing:last-child:before { 
    content: "\2713"; 
    color: white; 
    background-color: #5cb85c; 
    width: 1.2em; 
    line-height: 1.2em; 
    border-radius: 1.2em; 
  } 
   
  ol.progtrckr li.progtrckr-doing:last-child:hover:before { 
    color: #333; 
  }